.custom em{
    color: #a32843
}

.custom code{
    color: #ff2f86
}

.customjs {
    background-color: #504e9e
}

.reveal section figure img {
  border:0;
  box-shadow: none;
}

.reveal section img {
  border:0;
  box-shadow: none;
}

.reveal section img .center {
  display: block;
margin-left: auto;
margin-right: auto;
}


.reveal figcaption h4 {
  font-size: 1em;
}

/* Own stuff */
.center-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.right-img {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 40%;
}

h6 {
  text-align: left;
padding-top: 15px;}